#divTable{
    margin-top: 50px;
    margin-left: 25%;
    width: 700px;
}

.icone{
    margin-left: 10px;
    font-size: 25px;
    color: #8844ee;
}

.icone:hover{
    font-size: 30px;
    color: black;
}